* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: antiquewhite;
}

.main-title {
  text-align: center;
}

.secondary-title {
  margin: 0 0 20px;
}

.section {
  padding: 15px 10px;
  margin-bottom: 50px;
  border: 1px dashed red;
}
